.mainContainer {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  max-width: 100%;
}

.dataContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.header {
  font-size: 40px;
  font-family: sans-serif;
}

.bio {
  margin-top: 20px;
  font-size: 20px;
  color: gray;
}

.waveButton {
  border-radius: 5px;
  border-color: transparent;
  height: 40px;
  font-size: 15px;
  margin-top: 15px;
  font-family: sans-serif;
}
